@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Crimson Pro", serif;
  font-size: 1.125rem;
  font-kerning: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  background-color: #FAF9F5; 
  color: #0F0F0F;
}

body {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
}

header { 
  margin: 6em 0 3em 0;
}

header svg {
  width: 64px;
  height: 64px;
  display: block;
}

ul.nav {
  margin: 0 0 5em 0;
}

li.nav-item {
  display: inline;
}

ul.tags {
  margin: 0 0 5em 0;
}

ul.tags li {
  display: inline;
  margin: 0 .5em 0 0;
}

li.nav-item:not(:last-child)::after {
  content: "•";
  margin: 0 5px 0 5px;
  color: lightgrey;
  font-size: .5em;
  vertical-align: middle;
}

.post {
    margin: 0 0 .75em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

time {
  float: right;
  margin: 0 .25em 0 0;
}

.post a {
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.1875rem;
}

article {
  margin: 3em 0 0 0;
}

footer {
  margin: 4em 0 3em 0;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 .5em 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

p {
  margin: 0 0 1em 0;
}

p.compact {
  margin: 0.25rem auto;
}

a {
  color: inherit;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.1875rem;
}

ul {
  margin: 0 0 1em 1em;
}

.muted {
  color: #5B5B66;
}

img,
picture {
  /* aspect-ratio: 16/9; */
  height: auto;
  width: 100%;
  border-radius: .5em;
} 

pre {
  background-color: #e3e3e34f;
  padding: .75em;
  overflow-x: auto;
  border-radius: .5em;
  margin-bottom: 1em;
}

code {
  overflow: scroll;
  font-size: 13px;
}

blockquote {
  margin: 1em 0;
  padding: 0 1em;
  border-left: 3px solid #5B5B66;
}

/* Responsive CSS for Tablet */
@media (max-width: 768px) {
  body {
    max-width: 100%;
    padding: 1em;
  }

  header {
    margin: 3em 0 3em 0;
  }
}

/* Responsive CSS for Mobile */
@media (max-width: 375px) {
  body {
    max-width: 100%;
    padding: .5em;
  }

  header {
    margin: 3em 0 3em 0;
  }

  pre {
    font-size: 12px;
  }
  
  blockquote {
    margin: 0.5em 0;
    padding: 0.5em;
    border-left: 2px solid #5B5B66;
  }
}

/* Responsive CSS for Large Desktop */
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #3D7B7B; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.cp { color: #9C6500 } /* Comment.Preproc */
.cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gr { color: #E40000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #008400 } /* Generic.Inserted */
.go { color: #717171 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #687822 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #717171; font-weight: bold } /* Name.Entity */
.ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #767600 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #A45A77 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */
