@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,300..700;1,400..700&display=swap');

/* Root Variables */
:root {
  color-scheme: light dark;

  /* Light theme */
  --color-bg: #EEE9DC;
  --color-text: #171717;
  --color-muted: #6B7280;
  --color-accent: #171717;
  --color-pre-bg: #151B23;
  --color-pre-border: #EEE9DC;
  --color-code-bg: #f5f2eb;
  --color-code-text: white;

  /* Typography */
  --font-body: 'Instrument Sans', sans-serif;
  --font-size-base: 1rem;
  --line-height-base: 1.5rem;

  /* Radius */
  --radius: 0.3em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1A1C1E;
    --color-text: #EAEAEA;
    --color-muted: #AFAFAF;
    --color-accent: #EAEAEA;
    --color-pre-bg: #151B23;
    --color-pre-border: #151B23;
    --color-code-bg: #151B23;
  }
}

/* Basic Styles */
body {
  background: var(--color-bg);
  font-family: var(--font-body);
  max-width: 600px;
  margin: auto;
  padding: 3em 0;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 300;
  color: var(--color-text);
}

main {
  margin-top: 4rem;
}

h1, h2, h3 {
  font-weight: 500;
  line-height: 1.3;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.1rem; }

strong {
  font-weight: 500;
}

/* Links */
a {
  text-decoration: none;
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  transition: color 0.2s ease, border-color 0.2s ease;
}

.by {
  color: var(--color-muted);
  border: none;
}

.listpost {
  line-height: 1.55rem;
}

 /* Code & Preformatted Blocks */
pre, code {
  background: var(--color-code-bg);
  border-radius: var(--radius);
  font-size: 0.85rem;
  padding: .2em .4em;
  font-family: Menlo, Monaco, Courier New, monospace;
}

pre {
  background: var(--color-pre-bg);
  color: var(--color-code-text);
  border: 1px solid var(--color-pre-border);
  padding: 1em;
  overflow-x: auto;
}

pre code {
  background: transparent;
  padding: 0;
  margin: 0;
}

 /* Responsive Layout */
@media (max-width: 720px) {
  body {
    max-width: 100%;
    padding: 1em;
  }

  main {
    margin-top: 2rem;
  }

  header {
    margin: 3em 0;
  }
}

@media (max-width: 400px) {
  body {
    padding: 0.5em;
  }
}
