:root {
  color-scheme: light dark;
}

body {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  max-width: 600px;
  padding: 3em 0;
  padding-left: 15em;
  font-size: 13px;
  line-height: 20px;
}


.listpost {
    line-height: 25px;
}

h1, h2, h3 {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  margin: 0;
  padding: 5px 0;
}

pre {
  background: #F8F8FF;
  border: 1px solid #F8F8FF;
  border-radius: 0.5em;
  padding: 1em 1em;
  overflow-x: auto;
  font-size: 0.9em;
}


@media (prefers-color-scheme: dark) {
  body {
    background: #0D1117;
    color: #F0F6FC;
  }

  pre {
    background: #151B23;
    border: 1px solid #151B23;
  }

  code {
    background: #151B23;
  }

  pre code {
    background: #151B23;
    padding: 0;
    margin: 0;
  }

  header a, .post a {
    color: #ffffff;
    text-decoration: none;
  }

  .post a:hover {
    text-decoration: underline;
    text-underline-offset: .2rem;
  }


  footer a {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: .2rem;
  }

  a {
    color: #0969DA;
    text-decoration: underline;
    text-underline-offset: .2rem;
  }


  h1, h2 {
    border-bottom: 1px solid #2F353D;
    padding-bottom: 0.3em;
  }
}

@media (max-width: 720px) {
  body {
    max-width: 100%;
    padding: 1em;
  }

  header {
    margin: 3em 0 3em 0;
  }
}

/* Responsive CSS for Mobile */
@media (max-width: 375px) {
  body {
    max-width: 100%;
    padding: .5em;
  }
}
