{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<article>
  <h1>Data Scientist. Bodybuilder. Minimalist.</h1>
  <p>Based in Amsterdam, The Netherlands. Currently a Data Scientist  with over 6 years of experience building highly scalable, high performance machine learning models on top of Azure. On the side, I enjoy weightlifting, and tinkering with code.</p>

  {% include "menu.html" %}

  <h2>Topics</h2>
  {% include "tags.html" %}

  <h2>Blog</h2>
    <div class="listpost">
    {% for article in dates[:5] %}
      <div class="post">
            <a class="title" href='{{ article.url }}'>{{ article.title }}</a>
            <span class="meta">
              <time class="muted">{{ article.date.strftime('%b %d, %Y') }}</time>
            </span>
      </div>
    {% endfor %}
    </div>
    <p><a href="{{ SITEURL }}/archives.html">All posts</a></p>
</article>
{% endblock %}
