{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<article>

  <div>
    <h1>Writings</h1>
      <div class="listpost">
      {% for article in dates[:10] %}
        <div class="post">
              <span class="meta">
                <time>{{ article.date.strftime('%b %d, %Y') }}</time>
              </span>
              <a class="title" href='{{ article.url }}'>{{ article.title }}</a>
        </div>
      {% endfor %}
      </div>
      <p style="margin-top: 10px;"><a href="{{ SITEURL }}/archives.html">All posts</a></p>
  </div>
</article>
{% endblock %}
